@use '../utils/variables';
 button{
        background-color: variables.$colour-secundary;
        color: variables.$colour-body;
        font-size: 1.5rem;
        padding: 5px 18px;
        border: 1px solid;
        border-radius: 5px;
        &:hover{
                background-color: variables.$colour-primary;
        }
} 