//Colours
$colour-primary: #394867; //#4d80e4;
$colour-secundary:#14274e; // #2e279d;
$colour-body: #f1f6f9; //#dff6f0;
$colour-elements: #9ba4b4; //#46b3e6;

//Variables de galeria
$tam-img: 200px;
$tam-gap: 1rem;

//Media Query
$breakpoints:("small": 470px , "medio": 768px , "grande":1024px);
